###############################################
# Manifest Configuration                      #
# (MANIFEST.in)                               #
# Adapted from https://github.com/pybel/pybel #
###############################################
graft src
graft tests

recursive-include docs/source *.rst
include docs/source/conf.py
include docs/Makefile

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle

exclude .bumpversion.cfg
exclude .travis.yml
exclude .readthedocs.yml
exclude .flake8
exclude tox.ini
include *.rst *.txt LICENSE
